{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Profile {% endblock %}

{% block content %}
<div class="card w-50 p-2">
    <div class="card-hrader">
        <div class="content-section">
            <div class="media">
                <div class="image">
                    <img src="{{ user.profile.image.url }}"
                        style="width:150px; height: 150px; border-radius: 50%; margin-left:245px;">
                    <a href="{% url 'edit'%}" class="btn btn-dark" style="float: right; margin-top: 10px;">
                        Edit Profile </a>
                </div>
                <div class="media-body">
                    <h2 class="account-heading m-2 text-center">{{ user.username }}</h2>
                    {% if user.bio.bio %}
                    <p class="text-secondary text-center">
                        {{user.bio.bio}}
                    </p>
                    {% else %}
                    <p class="text-secondary text-center"> 404 bio not found </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% for post in posts %}
<div class="card w-50" style="width: 45rem; margin-top: 20px; margin-bottom: 10px;">
    <div class="card-body">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"
            style="width: 55px; height: 55px; float: left; margin-right: 15px; margin-bottom: 20px;">
        <div class="post-data">
            <h6 style="float: left; font-weight: bold;">{{post.author}}</h6>
            <small class="card-subtitle text-muted" style="margin-top:2px; margin-left: 20px;">
                {{post.dateOfPosted|date:"F d, Y"}}
            </small>
            <hr>
            <a href="{% url 'detail-view' post.id %}" style="text-decoration: none; color: black;">
                <p class="card-title" style="font-weight: bold; font-size: xx-large;"> {{post.title}} </p>
            </a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}