{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Profile {% endblock %}

{% block content %}
<div class="card w-50 p-2">
    <div class="card-hrader">
        <div class="content-section">
            <div class="media">
                <div class="image">
                    <img src="{{ user.profile.image.url }}"
                        style="width:150px; height: 150px; border-radius: 50%; margin-left:245px;">
                    <a href="{% url 'edit'%}" class="btn btn-dark" style="float: right; margin-top: 10px;">
                        Edit Profile </a>
                </div>
                <div class="media-body">
                    <h2 class="account-heading m-2 text-center">{{ user.username }}</h2>
                    {% if user.bio %}
                    <p class="text-secondary text-center">
                        {{user.bio.bio}}
                    </p>
                    {% else %}
                    <p class="text-secondary text-center"> 404 bio not found </p>
                    {% endif %}
                </div>
            </div>
            <!-- FORM HERE -->
        </div>
    </div>
</div>

{% endblock %}