{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Django blog - Registeration
{% endblock %}

{% block content %}

<div class="container">
    <div class="card w-50" style="margin-top: 80px;">
        <div class="card-header text-center">
            <p style="font-size: xx-large; font-weight: bold;">Welcome to Django Blog </p>
        </div>
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="m-2">
                    {{form.username|as_crispy_field}}
                </div>
                <div class="m-2">
                    {{form.email|as_crispy_field}}
                </div>
                <div class="m-2">
                    {{form.password1|as_crispy_field}}
                </div>
                <div class="m-2">
                    {{form.password2|as_crispy_field}}
                </div>
                <div class="m-2 d-grid">
                    <input type="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
            <hr>
            <p style="font-weight: 700;">
                Already have an account? <a href="{% url 'login' %}" style="text-decoration: none;">Log in </a>
            </p>
        </div>
    </div>
</div>

{% endblock %}